extends layout

block content
  ul.action-tiles
    li.jobs
      span.glyphicon.glyphicon-hourglass
      span.action-title Jobs
    li.commands
      span.glyphicon.glyphicon-console
      span.action-title Commands
    li.info
      span.glyphicon.glyphicon-info-sign
      span.action-title Info
    li.logout
      span.glyphicon.glyphicon-log-out
      span.action-title Log Out

  .tabs
    .tab.jobs-tab
      h3.tab-name Scheduled Jobs
      

    .tab.commands-tab
      h3.tab-name Commands
    .tab.info-tab
      h3.tab-name Information
    

  script(src='/javascripts/actionbar.js')