doctype html
html
  head
    title= title
    script(src='http://code.jquery.com/jquery-2.2.2.min.js', type='text/javascript')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,300', type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css', type='text/css')
    link(rel='stylesheet', href='/stylesheets/style.css', type='text/css')
  body
    .page
      .page-head
        h1.page-name= title
        span.pnsn-separator @
        h2.server-name= serverName
      block content
