doctype html
html
  head
    title='Login'
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Roboto:100,300', type='text/css')
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/bootstrap-theme.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
    .icon-container
      img(src='/favicon.png')
    .login-form-container.container
      h2.welcome Welcome to
      h4(style='font-weight: bold;')= serverName
      form.login-form(action='/login' method='post')
        input.form-control.login-input(placeholder='Username', name='username')
        input.form-control.password-input(placeholder='Password', type='password', name='password')
        input.btn.btn-lg.btn-default.btn-block(type='submit' value='Log In')