html, body {
    height: 100%;
}

html body {
    padding: 0 50px;
    font-family: "Roboto", sans-serif;
    background: #f9f9f9;
}

html body .page {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px 40px;
    height: 100%;
    background: white;
}

a {
    color: #00B7FF;
}

.page-head {
    margin-bottom: 20px;
}

.page-name {
    font-size: 28pt;
    display: inline-block;
    margin-bottom: 0;
}

.server-name {
    font-size: 24px;
    display: inline-block;
    color: darkgray;
    font-weight: 100;
    margin-bottom: 0;
}

.pnsn-separator {
    color: darkgray;
    font-size: 24px;
    font-weight: 100;
    margin-bottom: 0;
    margin-left: 5px;
}

/* Login form styles */

.login-form-container {
    position: absolute;
    top: calc(60% - 200px);
    left: calc(50% - 150px);
    width: 300px;
    height: 400px;
    text-align: center;
}

.login-form-container .login-input {
    margin-bottom: 10px;
}

.login-form-container .password-input {
    margin-bottom: 15px;
}

.icon-container img {
    position: absolute;
    top: 10px;
    left: calc(50% - 64px);
    width: 128px;
    height: 128px;
}

/* Action panel */
ul.action-tiles {
    padding: 0;
    height: 90px;
}

ul.action-tiles li {
    list-style: none;
    float: left;
    width: 90px;
    height: 90px;
    margin-right: 3px;
    background: #f9f9f9;
    text-align: center;
}

ul.action-tiles li:hover {
    color: darkviolet;
    cursor: pointer;
    background: -webkit-linear-gradient(#f9f9f9, #fff3ff); /* For Safari 5.1 to 6.0 */
    background: -o-linear-gradient(#f9f9f9, #fff3ff); /* For Opera 11.1 to 12.0 */
    background: -moz-linear-gradient(#f9f9f9, #fff3ff); /* For Firefox 3.6 to 15 */
    background: linear-gradient(#f9f9f9, #fff3ff); /* Standard syntax */
}

ul.action-tiles li.active-tab {
    border-bottom: 2px solid black;
}

ul.action-tiles li.active-tab:hover {
    border-bottom: 2px solid darkviolet;
}

ul.action-tiles .glyphicon {
    font-size: 36px;
    line-height: 42px;
    display: block;
    position: relative;
    top: 10px;
}

ul.action-tiles li:last-child {
    margin-right: 0;
}

ul.action-tiles span.action-title {
    position: relative;
    top: 22px;
}

/* Tabs */
.tab {
    display: none;
}